# created by virtualenv automatically

# Ignore Python bytecode
*.pyc
__pycache__/

# Ignore virtual environment directories
env/
venv/

# Ignore Django migration files
*.log
*.sqlite3

# Ignore environment configuration files
*.env
