{% load static %}
<!DOCTYPE html>
<html lang="en">
<style>
    .profile-container {
        font-family: system-ui, sans-serif;
        text-align: center;
        margin: 50px auto;
        padding: 10px;
        border-radius: 8px;
        width: 80%;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0 10px #0000001a;
    }

    .logout {

        color: red;
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div class="profile-container">
        <h2>Welcome, {{ user.username }}!</h2>
        <p>Email: {{ user.email }}</p>
        <a href="{% url 'logout' %}" class="logout">Logout</a>
    </div>
</body>

</html>